.vs/
.git/
gui/
Word Guess 0.8.0/
Word Guess 0.8.1/
x64/
Word Guess 0.2.zip
Word Guess 0.3.zip
Word Guess 0.4.7z
Word Guess 0.5.zip
Word Guess 0.6.zip
Word Guess 0.7.zip
Word Guess 0.8.1.zip
Word Guess 0.8.0.zip
Word Guess.zip
Word Guesser.exe
Word Guesser/x64/